.hey {
    color: grey;
    font-size: 20px;
    text-align: center;
    border-bottom: 4px solid purple;
     text-transform: uppercase;
}

.machine.active {
    color: blue;
}

.Header, .Footer {
    background: pink;
    text-align: center;
    font-weight: bold;
    color: purple;
    font-size: 20px;
}

button {
    border: 2px solid purple;
    color: purple;
    margin: 15px;
    border-radius: 15px;
}